
<tr class="">
<td colspan="2" id="x_social" valign="middle" style="border-collapse:collapse; background-color:#F2F2F2; border:0; color:rgb(80,80,80)">
<div style="color: rgb(112, 112, 112); font-family: Arial, serif, EmojiFont; font-size: 12px; line-height: 16px; text-align: center;">
<div style="color:rgb(80,80,80)"><b style="margin-right:5px">&copy; 2022 </b>Go mobile with <br>
<span style="font-size:9px"><a href="https://www.gocanvas.com/" target="_blank" rel="noopener noreferrer"><img src="https://www.gocanvas.com/assets/grey_trans_small.png" alt="" border="0" height="14" width="55" style="vertical-align:middle; height:14px; width:55px; border-width:0px; border-style:solid; margin-right:5px"></a>Submission ID: 63MNSEB-199C-9pkI1-ZzO7-BwJl7T-A42S1j9S </span></div>
</div>
</td>
</tr>